 # Environment variables
.env

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Git filter repo tool (local use only)
git-filter-repo/
